@charset "utf-8";
.wiki {
	background-color: #f2f2f2;
}

p { 
    margin: 0px;
}

.wkList a {
	color: black;
}

.Box-title {
	font-size: 14px;
    font-weight: 600;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1px;
}

/* Wiki Reset */

.wiki img{border:0}
.wiki .document_popup_menu,
.wiki .comment_popup_menu{text-align:right;font-size:11px}
.wiki .document_popup_menu{margin:1em 0}
.wiki .comment_popup_menu{margin:1em 0}
.wiki .document_popup_menu a,
.wiki .comment_popup_menu a{text-decoration:underline}
.wiki .hr{display:none}

.wiki .document_popup_menu a,
.wiki .comment_popup_menu a{color:#8b8b8b}

/* Wiki Header */
.hide {display: none}
/* Wiki Navigation */

/* Search Form */

/* Wiki Read */


.wkReadHeader .authorArea{*zoom:1;padding:10px 0}
.wkReadHeader .authorArea:after{content:"";display:block;clear:both}
.wkReadHeader .authorArea .author{float:left;margin-right:10px;color:#767676;text-decoration:none}
.wkReadHeader .authorArea .ipAddress{float:left;font-size:9px;margin-top:3px}
.wkReadHeader .authorArea .permaLink{float:right;font-size:9px;margin-top:3px}
.wkReadHeader .titleArea{border-top-color:#ccc;border-bottom-color:#ccc}
.wkReadHeader .titleArea .num{color:#767676}
.wkReadHeader .titleArea .date{color:#767676}
.wkReadHeader .authorArea .ipAddress{color:#767676}
.wkReadHeader .authorArea .permaLink{color:#767676}
.wkReadBody{overflow:hidden;*zoom:1}

.wkReadFooter .wkNav:after{content:"";display:block;clear:both}
.wkReadFooter .wkNav .wikiPrev{float:left}
.wkReadFooter .wkNav .wikiNext{float:right}
.wkReadFooter .wkNav .wikiPrev ,
.wkReadFooter .wkNav .wikiNext{color:#666;font-weight:bold;text-decoration:none}
.wkReadFooter .wkNav .wikiPrev:hover ,
.wkReadFooter .wkNav .wikiNext:hover{text-decoration:underline}
.wkReadFooter .memberSignature{border:1px solid;padding:10px;margin:1em 0;overflow:hidden;*zoom:1;clear:both;-moz-border-radius:5px;-webkit-border-radius:5px}
.wkReadFooter .memberSignature img.profile{margin:0 1em 0 0;border:1px solid}
.wkReadFooter .tbURL{margin:1em 0}
.wkReadFooter .tbURL *{display:inline;margin:0;padding:0}
.wkReadFooter .tbURL dt{margin-right:5px;font-size:12px}
.wkReadFooter .tbURL dd{font-size:11px;text-decoration:none}
.wkReadFooter .tbURL a{text-decoration:none}
.wkReadFooter .tbURL a:hover,
.wkReadFooter .tbURL a:active,
.wkReadFooter .tbURL a:focus{text-decoration:underline}
.wkReadFooter .tbURL dt{color:#4d4d4d}
.wkReadFooter .tbURL dd a{color:#767676}

.wkReadFooter .contributors *{display:inline;margin:0;padding:0}


.wkReadFooter .memberSignature{border-color:#f0f0f0;background-color:#fdfdfd}
.wkReadFooter .memberSignature img.profile{border-color:#eee} 
.wikiRead .command{float:right}
/* Feedback List */

.fbList .fbHeader{font-size:16px}
.fbList .fbHeader em{font-style:normal}
.fbList .tbURL{position:relative;top:1.5em;float:left;font-size:9px}
.fbList .tbURL a{text-decoration:none}
.fbList .tbURL a:hover,
.fbList .tbURL a:active,
.fbList .tbURL a:focus{text-decoration:underline}
.fbList .tbList,
.fbList .replyList{clear:both}
.fbList .item{position:relative;border-top:1px dashed;overflow:hidden;*zoom:1;clear:both}
.fbList .item .indent{position:relative;*zoom:1}
.fbList .item .indent:after{content:"";display:block;clear:both}
.fbList .item.itemReply .indent{padding-left:15px;background-repeat:no-repeat;background-position:0 1.2em}
.fbList .item .iContent{position:relative;padding:1em 0 1em 120px;*zoom:1;z-index:1}
.fbList .item .iContent:after{content:"";display:block;clear:both}
.fbList .item .iContent *{margin-top:0}

.fbList .item .iContent .option{position:relative;margin:1em 0;padding:0;list-style:none;white-space:nowrap;overflow:hidden;*zoom:1;float:right}
.fbList .item .iContent .option li{position:relative;left:-1px;display:inline;padding:0 0 0 5px;background-repeat:no-repeat;background-position:left center;font-size:11px}
.fbList .item .iContent .option li.wouldYou{background:none}
.fbList .item .iContent .option li a{text-decoration:none}
.fbList .item .iContent .option li a:hover,
.fbList .item .iContent .option li a:active,
.fbList .item .iContent .option li a:focus{text-decoration:underline} 
.fbList .item .itemAside{position:relative;float:left;width:100px;margin-right:-100px;padding:1em 0 0 0;*zoom:1;text-align:left;z-index:2}
.fbList .item .itemAside a{text-decoration:none}
.fbList .item .itemAside a:hover,
.fbList .item .itemAside a:active,
.fbList .item .itemAside a:focus{text-decoration:underline}
.fbList .item .itemAside img.profile{display:block;border:1px solid;margin-bottom:5px}
.fbList .item .itemAside .meta{font-size:9px;margin:0 0 5px 0;white-space:nowrap}
.fbList .item .itemAside .vote{margin:0;*zoom:1;overflow:hidden}
.fbList .item .itemAside .vote:after{content:"";display:block;clear:both}
.fbList .item .itemAside .vote *{margin:0;padding:0}
.fbList .item .itemAside .vote dt{position:relative;left:-5px;float:left;width:10px;height:9px;margin-right:2px;padding-left:5px;background-image:url(../img/iconLove.gif);background-repeat:no-repeat;overflow:hidden;border-left:1px solid #e5e5e5}
.fbList .item .itemAside .vote dt.love{background-position:5px 1px}
.fbList .item .itemAside .vote dt.hate{background-position:5px -19px}
.fbList .item .itemAside .vote dt span{position:absolute;width:0;height:0;line-height:0;font-size:0;overflow:hidden;visibility:hidden}
.fbList .item .itemAside .vote dd{position:relative;left:-5px;float:left;margin-right:5px;font-size:9px;font-weight:bold}
.fbList .item .secretMessage{margin:0;padding:1em 3em}
.fbList .item .secretMessage p{text-align:center;margin:1em 0;font-size:18px}
.fbList .item .secretMessage dl{text-align:center;margin:1em 0}
.fbList .item .secretMessage dt{font-weight:bold;display:inline}
.fbList .item .secretMessage dd{margin:0;display:inline}
.fbList .item .secretMessage dd .iText{padding:3px 4px;height:15px;vertical-align:middle;margin-right:5px}
.fbList .fbHeader a{color:#000}
.fbList .fbHeader em{color:#ff6600}
.fbList .tbURL a{color:#767676}
.fbList .item{border-color:#ddd}
.feedback .indent {
    background:url(../img/iconReply.gif) no-repeat;
}
.feedback .indent1 {
	padding-left: 20px;
	background-position: 6px 15px;
}
.feedback .indent2 {
	padding-left: 40px;
	background-position: 26px 15px;
}
.feedback .indent3 {
	padding-left: 60px;
	background-position: 46px 15px;
}
.feedback .indent4 {
	padding-left: 80px;
	background-position: 66px 15px;
}

.fbList .item .author{color:#8b8b8b}
.fbList .item .author a{color:#262626}
.fbList .item .iContent .option li a{color:#666}
.fbList .item .itemAside img.profile{border-color:#eee}
.fbList .item .itemAside .meta{color:#767676}
.fbList .item .itemAside .vote *{color:#8b8b8b}
/* Time */
.time *{color:#666}
.time dt{background:#fff}
/* Attached File */
.attachedFile{position:relative;margin:1em 0 1em 0;float:left;width:100%}
.attachedFile *{margin:0;padding:0;font-size:11px;vertical-align:middle}
.attachedFile dt img{margin-right:10px}
.attachedFile dt .fileToggle{border:0;padding:0;overflow:visible;cursor:pointer;font-size:11px;background:none}
.attachedFile dd{position:relative;margin-right:5px;display:none;margin-top:5px;padding-left:40px}
.attachedFile.open dd{display:block}
.attachedFile ul.files{position:relative;margin:0 0 1em 0;padding:0;clear:both;list-style:none}
.attachedFile ul.files *{display:inline-block;*display:inline;padding:0;margin:0;font-size:11px}
.attachedFile ul.files li{position:relative;margin:0 10px 0 0}
.attachedFile ul.files a{position:relative;background-repeat:no-repeat;background-position:left center;*zoom:1;text-decoration:none !important}
.attachedFile ul.files a .bubble{display:none;position:absolute;top:-20px;left:0;padding:2px 5px;z-index:100;white-space:nowrap}
.attachedFile ul.files a:hover .bubble,
.attachedFile ul.files a:active .bubble,
.attachedFile ul.files a:focus .bubble{display:block}
.attachedFile ul.files a{padding-left:15px;background-image:url(../img/iconFile.gif);color:#4d4d4d}
.attachedFile dt a{color:#4d4d4d}
.attachedFile ul.files a .bubble{border:1px solid #ddd;background-color:#fff;color:#4d4d4d}
/* Wiki Write */

/* Editor */
/* Editor Option */
.wiki .editOption{margin:1em 0;text-align:left}
.wiki .editOption *{vertical-align:middle}
.wiki .editOption select{margin-right:10px;font-size:12px}
.wiki .editOption label{margin-right:10px}
.wiki .editOption .iText{padding:3px 4px;height:15px;margin:0 10px 5px 0;font-size:12px;vertical-align:middle}
.wiki .editOption .iText.userName{width:100px}
.wiki .editOption .iText.userPw{width:50px;font:11px Tahoma}
.wiki .editOption .iText.emailAddress{width:140px;font:11px Tahoma}
.wiki .editOption .iText.homePage{width:140px;font:11px Tahoma}
/* Pagination */


/* Tree */
#tree{position:relative}
#tree ul.simpleTree li.noIcon{background:none}
#tree ul.simpleTree li ul li span{padding-left:5px}
.treeList{position:relative}
#tree .treeUI,
.treeList .treeUI{position:absolute;right:0;top:0}
.wiki a.exists{text-decoration:underline;color:green}
.wiki a.notexist{text-decoration:none;border-bottom:1px dotted #EE0000;color:#EE0000}
.diff, 
.history_content{margin:1em 0;padding:10px;border:1px dashed #DDDDDD;font-weight:normal}
.wDiffHtmlInsert, 
.wDiffHtmlInsert *{color:#009900}
.wDiffHtmlDelete, 
.wDiffHtmlDelete *{color:#990000;text-decoration:line-through}
#wikiDocumentPreview{margin:1em 0;padding:10px;background-color:#eee}
#wikiHelp{margin:1em 0;padding:10px;background-color:#EFF5FB}
#wikiToc{border:1px solid #AAAAAA;margin:10px;background-color:#F9F9F9;display:table}
#wikiToc span#wikiTocTitle {font-weight:bold;padding:10px 20px;display:block}
#wikiToc ul li{list-style-type:none}
#wikiToc ul{padding:0 20px}
span.edit_link{ float:right;font-size:12px;font-weight:normal;line-height:1.5em}
/* Button */